<center><h1>Science</h1></center><br>
<h4>Instructions:-</h4>
<p>1.</p>
<p>2.</p>
<p>3.</p>
<p>4.</p>
<p>5.</p>

<br><br><br>
<%=link_to "Back",papers_path,:class => 'btn btn-default btn-sm-7'%>
 <%= link_to 'go to test',test_path(@paper), :class => 'btn btn-primary btn-sm-4' %> 