<!-- <script type="text/javascript">
     function preventBack() { window.history.forward(); }
     setTimeout("preventBack()", 0);
     window.onunload = function () { null };
 </script> -->
<h1>Users</h1>
<hr>
<table class="table table-striped">
	<thead>
		<tr>
			<th><b>Name</b></th>
			<th><b>Email</b></th>
			
		</tr>
	</thead>
	<tbody>
		<%@users.each do |user| %>
			<%if user.admin != true%>
				<tr>
					<td><%=link_to user.fname.capitalize+" "+user.lname.capitalize,admin_user_path(user)%></td>
					<td><%= user.email%></td>
				</tr>
			<%end%>	
		<%end%>
	</tbody>
</table>			
<%=link_to "Back",root_path,:class => 'btn btn-default btn-sm-7'%>


	